---
layout: default
---

{% include breadcrumbs.html %}

<h1 class = "chapter-title">
  <span class="chapter-number">
    {{ chapter.title | split: ":" | first }}:
  </span>
  <span class="chapter-name">
     {{ chapter.title | split: ":" | last }}
  </span>
</h1>
{% if page.blurb %}
    <p class="poem-blurb">
      {{ page.description }}
    </p>
{% endif %}
<p>{{ content }}</p>

{% assign chapter_poems = site.poems
  | where: "chapter", page.chapter_key
  | sort: "order" %}

<!-- <ul class="poem-list">
  {% for poem in chapter_poems %}
    <li>
      <a href="{{ poem.url }}">
        {{ poem.title }}
      </a>
    </li>
  {% endfor %}
</ul> -->

<div class="chapter-entries">
  {% for poem in chapter_poems %}

    <div class="chapter-entry">

      <h2 class="entry-title">
        <a href="{{ poem.url }}">
          {{ poem.title }}
        </a>
      </h2>

      {% if poem.blurb %}
        <p class="entry-blurb">
          {{ poem.blurb }}
        </p>
      {% endif %}

    </div>

    {% unless forloop.last %}
      <hr class="entry-separator">
    {% endunless %}

  {% endfor %}
</div>

<p class="back">
  <a href="/">
    ← Back to Home
  </a>
</p>
