---
layout: default
---

<nav class="breadcrumbs">
  <a href="/">Home</a>
  → <span>{{ page.title }}</span>
</nav>

<h1>{{ page.title }}</h1>
<h2>page.description</h2
<p>{{ content }}</p>

{% assign chapter_poems = site.pages
  | where: "layout", "poem"
  | where: "collection", page.collection_key
  | sort: "order" %}

<!-- <ul class="poem-list">
  {% for poem in chapter_poems %}
    <li>
      <a href="{{ poem.url }}">
        {{ poem.title }}
      </a>
    </li>
  {% endfor %}
</ul> -->

<div class="chapter-entries">
  {% for poem in chapter_poems %}

    <div class="chapter-entry">

      <h2 class="entry-title">
        <a href="{{ poem.url }}">
          {{ poem.title }}
        </a>
      </h2>

      {% if poem.blurb %}
        <p class="entry-blurb">
          {{ poem.blurb }}
        </p>
      {% endif %}

    </div>

    {% unless forloop.last %}
      <hr class="entry-separator">
    {% endunless %}

  {% endfor %}
</div>

<p class="back">
  <a href="/">
    ← Back to Home
  </a>
</p>
